<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:fragment="footer">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap core CSS -->
    <link href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles -->
    <link href="../../css/blog.css" th:href="@{/css/blog.css}" rel="stylesheet">
    <title>Bootstrap in action</title>
</head>
<body>
<footer class="blog-footer">
    <p>@2018 <a href="https://blog.pcstar.top">blog.pcstar.top</a></p>
</footer>
</body>
</html>